<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556432479913-thvthodm6svd9jbr620c1jikpooglq0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556432479913-thvthodm6svd9jbr620c1jikpooglq0i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556432479913-0u4jrjoaisteja13is14oottjmmtoq8h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjbgLM2_doJpWg51ApPkwnCbCA5W8U0Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>556432479913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loomiFlutterChall</string>
	<key>PROJECT_ID</key>
	<string>loomi-chall</string>
	<key>STORAGE_BUCKET</key>
	<string>loomi-chall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556432479913:ios:9c55facb9839b1b2d53bb8</string>
</dict>
</plist>